.todoForm {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem;
  gap: 1rem;
}

input {
  font-size: 1.2rem;
  border: 1px solid red;
  margin-bottom: 1rem;
  outline: none;
  border-radius: 5px;
  padding: 5px;
}

.add {
  border: 1px solid red;
  background-color: transparent;
  font-size: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
