.records{
    border: 2px solid red;
}
.imageContainer{
    display: flex;
}

.imgdiv{
    width: 100px;
    height: 200px;
}
.activePage{
    background-color: rgb(28, 169, 28);
}

.next{
    background-color: brown;
}