.signup-form {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  padding: 1em;
  gap: 1em;
  box-shadow: 0 0 5px rgb(89, 89, 89);
}
